#header-pages {
    background-color: #166def;
    height: 4rem;
}
#section {
    margin-top: 10rem;
}

#searchButton {
    border: none;
    border-radius: .1rem;
}

#searchInput {
    border-radius: .1rem;
}
#text {
    opacity: 70%;
    text-align: center;
    color: #3a83f1;
}

#logo {
    opacity: 100%;
    width: 450px;
    height: 90px;
}

/*conteudo home*/
#text1 {
    text-align: center;
    color: #3a83f1;
}
.card:hover {
    transform: scale(1.03);
}
.card-title {
color: #166def;
}
.card-text {
color: #2f4b75;
}

#logo-pages {
    margin-right: 1rem;
    width: 250px;
    height: 50px;
}
/* pages */
.conteudo-pages {
    align-items: center;
    justify-content: center;
    background-color:white;
    display: flexbox;
    padding: 15px;
}

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#btnBack {
    position: relative;
    bottom: -1rem;
    left: .5rem;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
#btnBack:hover {scale:.8; transition: .4s;}

.arrow {
    border: solid #166def;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.voltar{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-225deg);
}

  #titulo-pages {
    text-align: center;
    padding-block: .8rem;
    color: #3a83f1;
}

/* conteudos das pages */
#text-pages {
    margin-left: 10px;
    margin-right: 10px;
    text-align:justify;
    padding-block: .8rem;
    color: black;
}

#carousel {
    width: 50%;
}
#carousel-2 {
    width: 50%;
}
/* conteudo exibido nas pesquisas */
#content {
    width: 100%;
    display: none;
    position: absolute;
    color: #3a83f1;
    margin-top: -.8rem;
    border-radius: .3rem;
    height: auto;
    background-color: rgb(248, 248, 248);
    position: relative;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

 /*Footer - Rodapé */
#footer {
    width: 100%;
    background-color: white;
    overflow: hidden;
}
#footer-links-contato {
    width: 100%;
}

#linkedin {
    opacity: 90%;
    font-size: 2rem;
    color: #166def;
    text-decoration: none;
}
#linkedin:hover {color: #0951be;}

#youtube {
    opacity: 90%;
    font-size: 2rem;
    color: #166def;
    text-decoration: none;
}
#youtube:hover {color: #0951be;}

#whatsapp {
    opacity: 90%;
    color: #166def;
    font-size: 2rem;
    text-decoration: none;
}
#whatsapp:hover {color: #0951be;}

#e-mail {
    opacity: 90%;
    color: #166def;
    font-size: 2rem;
    text-decoration: none;
}
#e-mail:hover {color: #0951be;}

/* mobile e tablet's */
@media screen and (max-width: 767px) {
    #logo {
        width: 300px;
        height: 65px;
    }
    #logo-pages {
        margin-right: 1rem;
        width: 130px;
        height: 25px;
    }
    .login-button {
        position: absolute;
        right: 10%;
        margin-top: 2rem;
    }
    #carousel {
        position: relative;
        width: 100%;
    }
    #carousel-2 {
        position: relative;
        width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 300px;
        height: 65px;
    }
    #logo-pages {
        margin-right: 1rem;
        width: 130px;
        height: 25px;
    }
    #carousel-2 {
        position: relative;
        width: 100%;
    }
  }